name: Go CI

on:
  workflow_call:
    inputs:
      go-version:
        description: 'Go version to use'
        required: false
        type: string
        default: '1.21'
      working-directory:
        description: 'Directory containing Go code'
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.go-version }}

      - name: Build
        working-directory: ${{ inputs.working-directory }}
        run: go build -v ./...

      - name: Test
        working-directory: ${{ inputs.working-directory }}
        run: go test -v ./...
