name: Go CI

on:
  workflow_call:
    inputs:
      go-version:
        description: 'Go version to use'
        required: false
        type: string
        default: '1.21'

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Setup Git Bash
        shell: pwsh
        run: echo "C:\Program Files\Git\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.go-version }}

      - name: Build
        shell: bash
        run: go build -v ./...

      - name: Test
        shell: bash
        run: go test -v ./...
